<!doctype html>
<html lang="en">
    {% load static %}

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta name="theme-color" content="#EF3D32" />
	<meta name="Cache-Control" content="max-age=300" />
	<meta name="description" content="CodeUp Blood - [Blood Donation Survey]" />
	<meta name="keywords" content="CodeUp Blood, Code Up Blood, codeup blood, code up blood, codeup blood survey" />
	<meta name="author" content="Codeup Blood" />
	<link rel="apple-touch-icon" href="{% static 'home/images/favicon/favicon_.png' %}" />
	<link rel="shortcut icon" href="{% static 'home/images/favicon/favicon_.png' %}" />
	<link rel="icon" href="{% static 'home/images/favicon/favicon_.png' %}" />
	<title>CodeUp Blood Donation Survey</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static 'survey/assets/css/bootstrap.min.css' %}">
	<!-- External Css -->
	<link rel="stylesheet" href="{% static 'survey/assets/css/line-awesome.min.css' %}">
	<!-- Custom Css -->
	<link rel="stylesheet" type="text/css" href="{% static 'survey/css/main.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'survey/css/covid.css' %}">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&amp;display=swap" rel="stylesheet">
	<!-- Favicon -->
	<link rel="icon" href="{% static 'survey/images/favicon.png' %}">
	<link rel="apple-touch-icon" href="{% static 'survey/images/apple-touch-icon.png' %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static 'survey/images/icon-72x72.png' %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static 'survey/images/icon-114x114.png' %}">
</head>

<body>
	<div class="ugf-covid covid-bg">
		<div class="container">
			<div class="row">
				<div class="col">
					<nav class="navbar navbar-expand-md anfra-nav">
						<a class="navbar-brand" href="{% url 'home'%}">
							<img src="{% static 'home/images/logo/logo_bl_bk.png' %}" alt="">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <i class="las la-bars"></i>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav ml-auto">
								<li class="nav-item"> <a class="nav-link" href="#">Contact Us</a>
								</li>
								<li class="nav-item"> <a class="nav-link nav-button" href="{% url 'home'%}">Visit Site</a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
					<div class="covid-wrap">
						<h2>CodeUp <span style="color: #EF3D32;">Blood</span> Donation Survey</h2>
						<form method="POST" >
                            {% csrf_token %}
							<div class="covid-test-wrap test-step active">
								<div class="test-progress">
									<div class="test-progress-step"> <span class="step-number">1/10</span>
										<svg>
											<circle class="step-1" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>If you or your loved one is in critical need of blood, what will you do?</h3>
								<div class="step-block">
									<div class="form-group">
										<input type="text" class="form-control" name="qOne" placeholder="Your answer">
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">2/10</span>
										<svg>
											<circle class="step-2" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>How would you rate blood donation in Nigeria?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTwo" value="excellent" class="form-control" id="one">
												<label for="one">Excellent</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTwo" value="vgood" class="form-control" id="two">
												<label for="two">Very Good</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<input type="radio" name="qTwo" value="good" class="form-control" id="three">
										<label for="three">Good</label>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTwo" value="fair" class="form-control" id="four">
												<label for="four">Fair</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTwo" value="bad" class="form-control" id="five">
												<label for="five">Bad</label>
											</div>
										</div>
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">3/10</span>
										<svg>
											<circle class="step-3" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>How would you rate blood banking in Nigeria?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qThree" value="excellent" class="form-control" id="six">
												<label for="six">Excellent</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qThree" value="vgood" class="form-control" id="seven">
												<label for="seven">Very Good</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<input type="radio" name="qThree" value="good" class="form-control" id="eight">
										<label for="eight">Good</label>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qThree" value="fair" value="fair" class="form-control" id="nine">
												<label for="nine">Fair</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qThree" value="bad" value="bad" class="form-control" id="ten">
												<label for="ten">Bad</label>
											</div>
										</div>
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">4/10</span>
										<svg>
											<circle class="step-4" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>Are you willing to donate blood for free?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qFour" value="yes" class="form-control" id="eleven">
												<label for="eleven">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qFour" value="no" class="form-control" id="twelve">
												<label for="twelve">No</label>
											</div>
										</div>
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">5/10</span>
										<svg>
											<circle class="step-5" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>Would you like to donate blood and get paid for it?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qFive" value="yes" class="form-control" id="thirteen">
												<label for="thirteen">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qFive" value="no" class="form-control" id="fourteen">
												<label for="fourteen">No</label>
											</div>
										</div>
									</div>
									<!-- <p class="error-msg">* Select at least one option</p> --> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">6/10</span>
										<svg>
											<circle class="step-6" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>Would you like an online platform that will connect you and your loved ones in need of blood to a blood donor?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qSix" value="yes" class="form-control" id="fifteen">
												<label for="fifteen">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qSix" value="no" class="form-control" id="sixteen">
												<label for="sixteen">No</label>
											</div>
										</div>
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">7/10</span>
										<svg>
											<circle class="step-7" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>How much would you sincerely want to pay for the online platform that connects?</h3>
								<div class="step-block">
									<div class="form-group">
										<input type="text" name="qSeven" class="form-control" placeholder="Your Answer">
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">8/10</span>
										<svg>
											<circle class="step-8" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>Would you recommend an online platform that connects blood donors and recipients?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qEight" value="yes" class="form-control" id="seventeen">
												<label for="seventeen">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qEight" value="no" class="form-control" id="eighteen">
												<label for="eighteen">No</label>
											</div>
										</div>
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">9/10</span>
										<svg>
											<circle class="step-9" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>How would you want the blood banking system in Nigeria to improve?</h3>
								<div class="step-block">
									<div class="form-group">
										<br>
										<br>
										<input type="text" name="qNine" class="form-control" placeholder="Your Suggestion...">
									</div> <a href="#" class="button">Next</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step">
								<div class="test-progress">
									<a href="#" class="prev-btn">
										<img src="{% static 'survey/images/arrow-left-grey.png' %}" alt="">Previous</a>
									<div class="test-progress-step"> <span class="step-number">10/10</span>
										<svg>
											<circle class="step-10" cx="30" cy="30" r="28" stroke-width="4" fill="none" role="slider" aria-orientation="vertical" aria-valuemin="0" aria-valuemax="100" aria-valuenow="50"></circle>
										</svg>
									</div>
								</div>
								<h3>Would you like to be part of an innovative life saving platform that connects blood donor and recipients online in a convenient way?</h3>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTen" value="yes" class="form-control" id="nineteen">
												<label for="nineteen">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="qTen" value="no" class="form-control" id="twenty">
												<label for="twenty">No</label>
											</div>
										</div>
									</div> <a href="#" class="button">Submit Suvery</a>
								</div>
							</div>
							<div class="covid-test-wrap test-step asign-info">
                                <div class="step-block">
								<div class="test-progress">
									<img src="{% static 'survey/images/covid/info.png' %}" class="img-fluid" alt="">
								</div>
								<h3>Great work!</h3>
								<p>Fillup the form below, To aid us contact you better</p>
								<div class="step-block">
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" name="fOne" class="form-control" placeholder="First Name" required>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" name="fTwo" class="form-control" placeholder="Last Name" required>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="row">
												<div class="col">
													<div class="form-group">
														<input type="text" name="fThree" class="form-control" placeholder="E-mail">
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<div class="select-input"> <span></span>
													<select name="fFour" class="form-control">
														<option value="">-- Gender --</option>
														<option value="male">Male</option>
														<option value="female">Female</option>
													</select>
												</div>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="text" name="fFive" class="form-control" placeholder="Phone Number">
												<!-- error class: has-error -->
												<!-- <span class="error-msg">This field is required!</span> -->
											</div>
										</div>
									</div>
									<p>Would you like to receive emails from us?</p>
									<div class="row">
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="sendMail" value="yes" class="form-control" id="gYes" required>
												<label for="gYes">Yes</label>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<input type="radio" name="sendMail" value="no" class="form-control" id="gNo" required>
												<label for="gNo">No</label>
											</div>
										</div>
									</div>
									<input class="buttonx" type="submit" value="Submit info">
								</div>
								</div>
							</div>
							<div class="covid-test-wrap test-step test-report">
								<div class="test-progress">
									<img src="{% static 'survey/images/big-green-check.png' %}" class="img-fluid" alt="">
								</div>
								<h3>Thasssnk you for submission</h3>
								<h4>Stay Healthy <span class="line">&#73;</span> Stay Safe</h4>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div style="bottom: 5px;" class="row">
				<div class="col">
					<div class="footer">
						<div class="footer-social"> 
                            <a href="https://facebook.com/codeup.blood/" target="_blank"><i class="lab la-facebook-f"></i></a>
							<a href="https://twitter.com/CodeUpBlood" target="_blank"><i class="lab la-twitter"></i></a>
							<a href="https://www.instagram.com/codeupblood/" target="_blank"><i class="lab la-instagram"></i></a>
							<a href="https://www.youtube.com/channel/UC45_gCtBass9sNYUPPVcFGA" target="_blank"><i class="lab la-youtube"></i></a>
						</div>
						<div class="copyright-text">
							<p>Copyright &copy;
								<script>
									document.write(new Date().getFullYear());
								</script>- CodeUp <span style="color: #EF3D32;">Blood</span> by WittyHub. All Rights Reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'survey/assets/js/jquery.min.js' %}"></script>
	<script src="{% static 'survey/assets/js/popper.min.js' %}"></script>
	<script src="{% static 'survey/assets/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'survey/js/custom.js' %}"></script>
</body>

</html>