{% extends 'base/home_base.html' %}
{% block title %} CodeUp | Saving Lives | Our Hospitals {% endblock %}

    {% load static %}
    {% block body %}
     <!--  PAGE HEADING -->
        
          <!--  PAGE HEADING -->
        
          <section class="page-header">

            <div class="container">

                <div class="row">

                    <div class="col-sm-12 text-center">

                        <h3>
                            Our Hospitals
                        </h3>

                        <p class="page-breadcrumb">
                            <a href="#">Home</a> / Our Hospitals
                        </p>


                    </div>

                </div> <!-- end .row  -->

            </div> <!-- end .container  -->

        </section> <!-- end .page-header  -->
        
        <!--  SERVICES SECTION-->

        <section class="section-content-block section-services-bg">

            <div class="container wow fadeInUp">

                <!-- <div class="row section-heading-wrapper hidden">

                    <div class="col-md-12 col-sm-12 text-left no-img-separator">
                        <h2>SENIOR CARE SERVICES</h2>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h4>No matter where you live in your own home a retirement village or a rest home.</h4> -->
                    <!-- </div> end .col-sm-10  -->

                 <!-- </div> end .row  -->
                
                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-left no-img-separator">
                        
                        
                        <h2>Our Hospitals</h2>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h4 class="text-primary-color">List of Hospitals we work with</h4>
                    </div> <!-- end .col-sm-10  -->

                </div> <!--  end .row  -->
                 

                <div class="row">
                    
                    <div class="service-carousel owl-carousel"  data-nav="true" data-dots="false">

                        {% if hospital %}
                        {% for x in hospital %}
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">

                            <div class="service-layout-1">

                                <div  class="service-img-box">
                                    <figure class="service-img">
                                        <img src="{{x.picture.url}}" width="360" height="240" alt="Logo of {{x.name}}" />
                                    </figure> <!-- end .cause-img  -->
                                </div>

                                <article class="service-info">

                                    <h2>{{x.name}}</h2>
                                    <p>
                                        <b>Address:</b> <small>{{x.address}}</small> <br>
                                        <b>LGA:</b> <small>{{x.lga|title}}</small> <br>
                                        <b>Contact:</b> <small>{{x.contact}}</small>
                                    </p>

                                </article>

                            </div>

                        </div> <!--  end col-sm-6  -->
                        {% endfor %}
                        {% endif %}

                        </div> <!--  end col-sm-6  -->

                    </div>

                </div>
                
                <!-- <div class="row">
                    <div class="col-sm-12 text-center"><a href="#" class="btn btn-theme">LOAD MORE SERVICES</a></div>
                </div> -->

            </div> <!--  end .container  -->

        </section> <!--  end .section-services -->
                            

    {% endblock %}