{% extends 'base/home_base.html' %}
{% block title %} CodeUp | Saving Lives | HOME {% endblock %}

    {% load static %}
    {% block body %}
        <!--  HOME SLIDER BLOCK  -->
        <div class="slider-wrap">
            <div id="slider_1" class="owl-carousel" data-nav="true" data-dots="false" data-autoplay="true" data-autoplaytimeout="4000">
                
                {% for x in get_slide %}
                <div class="slider_item_container"  data-bg_img="{{x.picture.url}}" data-bg_color="#555555" data-bg_opacity="0.5">
                    <div class="item">
                        <div class="slider-content">
                            <div class="container text-left">
                                <div class="row">
                                    <div class="slider-bg">                                    
                                        <div class="col-sm-12 wow zoomInUp" data-wow-duration="1s">  
                                            
                                                <h3>{{x.sub_title}}</h3>
                                                <h2>
                                                    {% if x.line_one %}
                                                    {{x.line_one}}
                                                    <br>
                                                    {% endif %}
                                                    {% if x.line_two %}
                                                    {{x.line_two}}
                                                    <br>
                                                    {% endif %}
                                                    {% if x.line_three %}
                                                    {{x.line_three}}
                                                    {% endif %}
                                                </h2>
                                                {% if x.donor %}
                                                <a href="{% url 'accounts:donor_login' %}" class="btn btn-theme margin-top-24">Donate Now</a>
                                                {% elif x.recipient %}
                                                <a href="{% url 'accounts:rec_login' %}" class="btn btn-theme margin-top-24">Order Now</a>
                                                {% endif %}
                                                <a href="tel:+2348095510327" class="btn btn-theme btn-theme-invert margin-top-24">CALL : +234 (0) 809 551 0327</a>
                                            </div>                                      
                                    </div> <!-- end .col-sm-12  -->
                                </div> <!-- end .row  -->
                            </div><!-- end .container -->
                        </div> <!--  end .slider-content -->
                    </div> <!-- end .item  -->
                </div> <!-- end .slider_item_container  -->
                {% endfor %}

            </div> <!-- end .slider_1  -->
        </div> <!-- end .slider-wrap.  -->
        
        <!--  FEATURED ABOUT US SECTION-->

        <section class="section-content-block">
 
            <div class="container">
                
                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                        
                        <div class="about-us-container theme-custom-box-shadow">

                            <div class="row section-heading-wrapper margin-bottom-11">

                                <div class="col-lg-12 col-md-12 col-sm-12 text-left no-img-separator">
                                    <h2><strong>Who We Are?</strong></h2>
                                    <span class="heading-separator heading-separator-horizontal"></span>
                                </div> <!-- end .col-sm-10  --> 

                            </div>

                            <div class="about-details"> 

                               <p>At CodeUp <span class="blood_st">Blood</span>, we know how important blood is for life and we  believe every Individual should be given an opportunity to stay alive, which is why we . . . </p>


                                <ul class="custom-bullet-list">
                                    <li>Connect <span class="blood_st">Blood</span> Donors & Recipients in a convenient and safe way.</li>
                                    <li>Increase communication with our members.</li>
                                    <li>Examine critically to ensure alignment.</li>
                                    <li>Perform extra care from a multi-disciplinary team.</li>
                                    <li>Are community based organization.</li>
                                </ul>

                            </div> <!--  end .about-details -->  

                        </div>

                    </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12 -->  


                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">

                        <figure class="about-img theme-custom-box-shadow">
                            <a class="venobox wow bounceIn" data-vbtype="video" data-autoplay="true" href="https://www.youtube.com/watch?v=7HXJyMjUBqI"><i class="fa fa-play"></i></a>                                
                            <img src="{% static 'home/images/about_feat_bg.png' %}" alt="about" />
                        </figure> <!-- end .cause-img  -->

                    </div> <!--  end .col-lg-6 col-md-6 col-sm-12 col-xs-12  -->                    

                </div> <!--  end .row  -->
            </div>

        </section> <!--  end .section-about-us -->
        
        <!-- SECTION TESTIMONIAL   -->

        <section class="section-content-block section-custom-bg" data-bg_img='/static/home/images/testimony_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">
            
            <div class="container margin-top-80">
                <div class="row section-heading-wrapper-alt">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h4>Awesome Words From Members</h4>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="extra-large">JOIN US TO SAVE LIVES</h2>

                    </div> <!-- end .col-sm-10  --> 

                </div>
            </div>

            <div class="container theme-custom-box-shadow  section-pure-white-bg margin-top-48 margin-bottom-48 wow fadeInUp">
                
                <div class="row">

                    <div class="col-lg-6 col-md-12 col-sm-12">
                        
                        <div class="testimonial-container owl-carousel text-left" data-items  ="1">
                            {% for x in all_feedback %}
                            <div class="col-md-12 col-sm-12">

                                <div class="testimony-layout-1">
                                    <h3 class="people-quote">{% if x.donor %}Donor{% elif x.recipient %}Recipient{% endif %} Opinion</h3>
                                    <p class="testimony-text">
                                       {{x.message}}      
                                    </p>
                                    
                                    <img src="{{x.picture.url}}" alt="" />
                                    <h6>{{x.name}}</h6>
                                    <span>{{x.job}}, {{x.place_work}}, {{x.location}}</span>

                                </div> <!-- end .testimony-layout-1  -->

                            </div> <!--  end col-md-10  -->
                            {% endfor %}
                        </div>   <!--  end .row  -->   
                        {% if all_feedback %} 
                        <h6 style="margin-left: 20px;">Feedback statistic: {{count_donor}} Donor | {{count_rec}} Recipient</h6>
                        {% endif %}
                    </div>
                
                    <div class="col-lg-6 hidden-md hidden-xs hidden-sm no-padding">
                        <figure>
                            <img src="/static/home/images/testimony_feat_img.png" alt="" class="db"/>
                        </figure>
                    </div>
                    
                </div>

                

            </div> <!-- end .container  -->

        </section>
        
        <!--  SECTION CAMPAIGNS   -->

        <section class="section-content-block section-pure-white-bg" >

            <div class="container">
                
                
                <div class="row">
                    
                    <div class="col-sm-12 col-md-5">

                        <div class="row section-heading-wrapper">

                            <div class="col-md-12 col-sm-12 text-left no-img-separator">
                                <h2>OUR CAMPAIGNS</h2>
                                <span class="heading-separator heading-separator-horizontal"></span>
                                <h4 class="margin-top-24">
                                    
                                    <small>Across Nigeria we have put together blood donation centers,
                                        to take care of our various communities. </small>
                                </h4>
                                <a class="btn btn-theme margin-top-32" href="{% url 'home:camp' %}">View All Campaigns</a>
                            </div> <!-- end .col-sm-12  -->  

                        </div> <!-- end .row  -->

                    </div>

                    <div class="col-sm-12 col-md-7">
                        
                        <div class="row wow fadeInRight">

                            <div class="event-carousel owl-carousel"  data-nav="false" data-dots="true" data-items="1">
                                {% for x in camps %}
                                <div class="col-md-6 col-sm-12">
                                    <div class="event-layout-1 theme-custom-box-shadow clearfix"> 
                                        <figure class="event-img">
                                            <a href="#">
                                                <img src="{{x.img}}" alt="">
                                            </a>
                                        </figure>
                                        <div class="event-info"> 
                                            <a class="event-date" href="#"><i class="fa fa-calendar-o"></i> {{x.date}} </a> &nbsp;  {% if x.badge == 'success' %}<span class="badgex badgex-success">UpComing</span>{% elif x.badge == 'danger' %}<span class="badgex badgex-danger">Passed</span>{% else %}<span class="badgex badgex-primary">Current</span>{% endif %}
                                            <h4>
                                                <a href="#">{{x.title}}</a>
                                            </h4>
                                            <div class="event-exceprt">{{x.shrt_message}}</div>
                                            <div class="event-time">
                                                <a href="#"><i class="fa fa-clock-o"></i> {{x.start_time}} - {{ x.stop_time }}</a>
                                                <a href="#"> <i class="fa fa-map-marker"></i>{{x.location}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            </div>     
                        </div> 
                        
                    </div>
                    
                </div>

            </div> <!--  end .container  --> 

        </section> 
        
        
        <!--  SECTION APPOINTMENT BOX -->
        
        <section class="section-content-block section-custom-bg section-custom-bg-extra-padding" data-bg_img='/static/home/images/appointment_female_bg.jpg' data-bg_color='#000000' data-bg_opacity='0.1'>

            <div class="container">
                <div class="custom-empty-space" data-height="160px" data-class="col-sm-hidden"></div>
            </div>

        </section>

        <!--  SECTION APPOINTMENT   -->
        
        <section class="section-content-block section-secondary-bg">

            <div class="container">

                <div class="row">

                    <div class="col-lg-6 col-md-6"> 
                        
                        <div class="row section-heading-wrapper">

                            <div class="col-md-12 col-sm-12 text-left no-img-separator">
                                <h4>Good To Know</h4>
                                <span class="heading-separator heading-separator-horizontal"></span>
                                <h2>Helpful Information
                                </h2>

                            </div> <!-- end .col-sm-10  --> 

                        </div>

                        <div class="about-details"> 

                            <ul class="custom-bullet-list">
                                <li>Maintain a healthy iron level by eating iron rich foods.</li>
                                <li>Drink an extra 16 oz. of water prior to your donation.</li>
                                <li>Avoid alcohol consumption before your blood donation.</li>
                                <li>Remember to bring the donor card or national ID/Passport.</li>
                                <li>Finally, Try to get a good night sound sleep after donation.</li>
                            </ul>

                        </div> <!--  end .about-details -->  
               
                    </div> <!--  end col-lg-6  -->


                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 margin-top-appointment-reverse"> 

                        <div  class="appointment-form-wrapper theme-custom-box-shadow text-center clearfix wow zoomIn">
                            <h3 class="join-heading join-heading-alt">Request Appointment</h3>
                            <form class="appoinment-form"> 
                                <p id="errox"></p>
                                <div class="form-group col-md-6">
                                    <input id="your_name" class="form-control" required name="full_name" placeholder="Name" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <input id="your_email" class="form-control" required name="email" placeholder="Email" type="email">
                                </div>
                                <div class="form-group col-md-6">
                                    <input id="your_phone" class="form-control" required name="phone" placeholder="Phone" type="text">
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="select-style">                                    
                                        <select class="form-control" required id="your_center">
                                            <option disabled >--Donation Center--</option>
                                            <option value="abia">Abia</option>
                                            <option value="adamawa">Adamawa</option>
                                            <option value="akwaibom">Akwa Ibom</option>
                                            <option value="anambra">Anambra</option>
                                            <option value="bauchi">Bauchi</option>
                                            <option value="bayelsa">Bayelsa</option>
                                            <option value="benue">Benue</option>
                                            <option value="borno">Borno</option>
                                            <option value="crossriver">Cross River</option>
                                            <option value="delta">Delta</option>
                                            <option value="ebonyi">Ebonyi</option>
                                            <option value="edo">Edo</option>
                                            <option value="ekiti">Ekiti</option>
                                            <option value="enugu">Enugu</option>
                                            <option value="fct">Federal Capital Territory</option>
                                            <option value="gombe">Gombe</option>
                                            <option value="imo">Imo</option>
                                            <option value="jigawa">Jigawa</option>
                                            <option value="kaduna">Kaduna</option>
                                            <option value="kano">Kano</option>
                                            <option value="katsina">Katsina</option>
                                            <option value="kebbi">Kebbi</option>
                                            <option value="kogi">Kogi</option>
                                            <option value="kwara">Kwara</option>
                                            <option value="lagos">Lagos</option>
                                            <option value="nasarawa">Nasarawa</option>
                                            <option value="niger">Niger</option>
                                            <option value="ogun">Ogun</option>
                                            <option value="ondo">Ondo</option>
                                            <option value="osun">Osun</option>
                                            <option value="oyo">Oyo</option>
                                            <option value="plateau">Plateau</option>
                                            <option value="rivers">Rivers</option>
                                            <option value="sokoto">Sokoto</option>
                                            <option value="taraba">Taraba</option>
                                            <option value="yobe">Yobe</option>
                                            <option value="zamfara">Zamfara</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <input id="your_date" required class="form-control" name="date" placeholder="Date" type="date">
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <input id="your_time" required class="form-control" name="time" placeholder="Time" type="time">
                                </div>

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <textarea id="textarea_message" required class="form-control" name="message" rows="4" placeholder="Extra Message..."></textarea>
                                </div>         

                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <button id="btn_submit" class="btn btn-theme" type="submit">Get Appointment</button>
                                </div>

                            </form>

                        </div> <!-- end .appointment-form-wrapper  -->

                    </div> <!--  end .col-lg-6 -->

                </div> <!--  end .row  -->
                
                <div class="row wow fadeIn">

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-heartbeat icon"></i>
                            <span class="counter">{{saved }}</span>                            
                            <h4 class="text-capitalize">Lives saved <br> <br></h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-stethoscope icon"></i>
                            <span class="counter">{{happy }}</span>                            
                            <h4 class="text-capitalize">Happy Donors <br> <br></h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-users icon"></i>
                            <span class="counter">{{happyd }}</span>                             
                            <h4 class="text-capitalize">Happy Recipients</h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->

                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">

                        <div class="counter-block-1 text-center">

                            <i class="fa fa-building icon"></i>
                            <span class="counter">{{award }}</span>                            
                            <h4 class="text-capitalize">Total Awards <br> <br></h4>

                        </div>

                    </div> <!--  end .col-lg-3  -->
                    
                    
                </div> <!-- end row  -->

            </div> <!--  end .container -->

        </section>  <!--  end .appointment-section  -->
        
        <!-- SECTION TEAM   -->

        <section class="section-content-block section-custom-bg" data-bg_img='/static/home/images/team_feat_bg.jpg' data-bg_size='cover' data-bg_position='top center' data-bg_opacity="0">
            
            <div class="container margin-top-80">
                <div class="row section-heading-wrapper-alt">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h3 style="color: white;">OUR VISION</h3>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <h2 class="extra-large">To improve healthcare using technology and reduce death rate arising from shortage of blood units, by connecting blood donors & recipients in a safe & convenient manner.  <br>"CodeUp <span class="blood_st">Blood</span>, Your Life-Line to stay alive..."</h2>


                    </div> <!-- end .col-sm-10  --> 

                </div>
            </div>

            <div class="container margin-top-48 margin-bottom-48 wow fadeInLeft">
                <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h3 style="color: white;">OUR TEAM</h3>
                        <span class="heading-separator heading-separator-horizontal"></span>
                        <!-- <h4>&nbsp;</h4> -->
                    </div> <!-- end .col-sm-10  --> 
                
                <div class="row">
                    
                    <div class="col-md-4 col-sm-12">

                        <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                            <figure class="team-member">
                                <a href="JavaScript:Void(0)" title="Onose Ogaga">
                                    <img src="{% static 'home/images/ceo.png' %}" alt="Onose Ogaga" />
                                </a>

                            </figure> <!-- end. team-member  -->

                            <article class="team-info">
                                <h3>Onose Oghenevwogaga</h3>                                   
                                <h4>Chief Executive Officer</h4>
                            </article>


                        </div> <!--  end team layout-1 -->

                    </div> <!--  end .col-md-4 col-sm-12  -->

                        <div class="col-md-4 col-sm-12">

                            <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                                <figure class="team-member">
                                    <a href="#" title="Dr. Efiri Tamaradeinyefa">
                                        <img src="{% static 'home/images/doc.png' %}" alt="Dr. Efiri Tamaradeinyefa"/>
                                    </a>

                                </figure> <!-- end. team-member  -->

                                <article class="team-info">
                                    <h3>Efiri Tamaradeinyefa</h3>                                   
                                    <h4>Chief Medical Officer</h4>
                                </article>

                                <div class="team-content">

                                    <!-- <div class="team-social-share text-center clearfix">
                                        <a class="fa fa-facebook rectangle" href="#" title="Facebook"></a>
                                        <a class="fa fa-twitter rectangle" href="#" title="Twitter"></a>
                                        <a class="fa fa-google-plus rectangle" href="#" title="Google Plus"></a>
                                        <a class="fa fa-linkedin rectangle" href="#" title="Linkedin"></a>
                                    </div> end .author-social-box  -->

                                </div>                             

                            </div> <!--  end team-layout-1 -->

                        </div> <!--  end .col-md-4 col-sm-12  -->


                        <div class="col-md-4 col-sm-12">

                            <div class="team-layout-1 theme-custom-box-shadow theme-custom-box-animation">

                                <figure class="team-member">
                                    <a href="#" title="Gabriel Precious">
                                        <img src="{% static 'home/images/cto.png' %}" alt="Gabriel Precious" />
                                    </a>                               

                                </figure> <!-- end. team-member  -->

                                <article class="team-info">
                                    <h3>Gabriel Precious</h3>                                   
                                    <h4>Chief Technical Officer</h4>
                                </article>

                            </div> <!--  end team-layout-1 -->

                        </div> <!--  end .col-md-4 col-sm-12  -->  


                    </div> <!-- end .row  --> 
                    
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <a class="btn btn-theme margin-top-24" href="{% url 'home:team' %}">View All Our Team</a>
                        </div>
                    </div>

            </div> <!-- end .container  -->

        </section>

        <!--  SECTION GALLERY  -->

        <section class="section-content-block section-pure-white-bg">

            <div class="container">

                <div class="row section-heading-wrapper">

                    <div class="col-md-12 col-sm-12 text-center no-img-separator">
                        <h2>CAMPAIGN GALLERY</h2>
                        <span class="heading-separator"></span>
                        <h4>our prestigious voluntary work on campaigns by our team</h4>
                    </div> <!-- end .col-sm-10  -->                      


                </div> <!-- end .row  -->

            </div> <!--  end .container -->

            <div class="container wow fadeInUp">

                <div class="row no-padding-gallery">

                    {% for x in galleryOne %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="{{x.title}}" href="{{x.picture.url}}">

                            <figure class="gallery-img">

                                <img src="{{x.picture.url}}" alt="{{x.title}}" title="{{x.message}}" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->
                    {% endfor %}

                </div> <!-- end .row  -->

                <div class="row no-padding-gallery">

                    {% for x in galleryTwo %}
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 gallery-container">

                        <a class="gallery-light-box" data-gall="{{x.title}}" href="{{x.picture.url}}">

                            <figure class="gallery-img">

                                <img src="{{x.picture.url}}" alt="{{x.title}}" title="{{x.message}}" />

                            </figure> <!-- end .gallery-img  -->

                        </a> <!-- end .gallery-light-box  -->

                    </div><!-- end .col-sm-3  -->
                    {% endfor %}

                </div> <!-- end .row  -->

            </div><!-- end .container-fluid  -->

        </section> <!-- end .section-content-block  -->

        <!-- HIGHLIGHT CTA  -->  
        
        <section class="padding-bottom-100 padding-top-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="cta-section-1 section-secondary-bg text-center theme-custom-box-shadow">
                            <h2 class="text-capitalize">Become A Part Of Our Great Work Today</h2>
                            <p>
                                <!-- You can donate blood at any of our blood donation centers all over Nigeria.  -->
                                You can give blood at any of our blood donation centers close to you.                            
                            </p>
                            <a class="btn btn-theme margin-top-24 wow bounceIn" href="{% url 'accounts:donor_login' %}">DONATE NOW</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- START FOOTER  -->

        {% endblock %}