{% extends 'base/home_base.html' %}
{% block title %} CodeUp | Saving Lives | TEAM {% endblock %}

    {% load static %}
    {% block body %}
                  <!--  PAGE HEADING -->

                  <section class="page-header">

                    <div class="container">
        
                        <div class="row">
        
                            <div class="col-sm-12 text-center">
        
                                <h3>
                                     OUR TEAM
                                </h3>
        
                                <p class="page-breadcrumb">
                                    <a href="#">Home</a> / Our Team
                                </p>
        
        
                            </div>
        
                        </div> <!-- end .row  -->
        
                    </div> <!-- end .container  -->
        
                </section> <!-- end .page-header  -->
                
                <!-- TEAM SECTION 01 -->
        
                <section class="section-content-block section-secondary-bg">
        
                    <div class="container wow fadeInUp">
        
                        <div class="row section-heading-wrapper">
        
                            <div class="col-md-12 col-sm-12 text-center">
                                <h2 class="section-heading">OUR TEAM</h2>
                                <!-- <p class="section-subheading">The volunteers who give their time and talents help to fulfill our mission.</p> -->
                            </div> <!-- end .col-sm-10  -->                      
        
                        </div> <!-- end .row  -->
        
                        <div class="row">
        
                            <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        
                                <div class="team-layout-1">       
        
                                    <figure class="team-member">
                                        <a href="JavaScript:Void(0)" title="Onose Ogaga">
                                            <img src="{% static 'home/images/ceo.png' %}" alt="Onose Ogaga" />
                                        </a>
        
                                    </figure> <!-- end. team-member  -->
        
                                    <article class="team-info">
                                        <h3>Onose Oghenevwogaga</h3>                                   
                                        <h4>Chief Executive Officer</h4>
                                    </article>
        
        
                                </div> <!--  end team-layout-1 -->
        
                            </div> <!--  end .col-md-4 col-sm-12  -->
        
                            <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        
                                <div class="team-layout-1">       
        
                                    <figure class="team-member">
                                        <a href="#" title="Dr. Efiri Tamaradeinyefa">
                                            <img src="{% static 'home/images/doc.png' %}" alt="Dr. Efiri Tamaradeinyefa"/>
                                        </a>
    
                                    </figure> <!-- end. team-member  -->
    
                                    <article class="team-info">
                                        <h3>Efiri Tamaradeinyefa</h3>                                   
                                        <h4>Chief Medical Officer</h4>
                                    </article>
        
        
                                </div> <!--  end team layout-1 -->
        
                            </div> <!--  end .col-md-4 col-sm-12  -->
        
                            <div class="col-lg-4 col-md-offset-0 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
        
                                <div class="team-layout-1">       
        
                                    <figure class="team-member">
                                        <a href="#" title="Gabriel Precious">
                                            <img src="{% static 'home/images/cto.png' %}" alt="Gabriel Precious" />
                                        </a>                               
    
                                    </figure> <!-- end. team-member  -->
    
                                    <article class="team-info">
                                        <h3>Gabriel Precious</h3>                                   
                                        <h4>Chief Technical Officer</h4>
                                    </article>
        
                                </div> <!--  end team-layout-1 -->
        
                            </div> <!--  end .col-md-4 col-sm-12  -->  
        
        
                        </div> <!-- end .row  --> 
        
                    </div> <!-- end .container  -->
        
                </section> <!--  end .section-our-team -->  
                
                <!-- TEAM SECTION 02 -->
        
                <section class="section-content-block section-team-bg">
        
                    <div class="container">
                        
                        <div class="row section-heading-wrapper">
        
                            <div class="col-md-12 col-sm-12">
                                <h2 class="text-uppercase">OTHER CORE TEAM MEMBER</h2>
                                <h4>The volunteers who give their time and talents help to fulfill our mission.</h4>
                            </div> <!-- end .col-sm-10  -->                      
        
                        </div> <!-- end .row  -->
        
                        <div class="row text-center">
        
                            <div class="team-carousel owl-carousel" data-nav="true" data-items="4">
        
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        
                                    <div class="team-layout-1">       
        
                                        <!-- <figure class="team-member">
                                            <a href="#" title="MOJORLOA PHOG">
                                                <img src="images/team_5.jpg" alt="MOJORLOA PHOG"/>
                                            </a>
        
                                        </figure> end. team-member  -->
        
                                        <!-- <article class="team-info">
                                            <h3>MOJORLOA PHOG</h3>                                   
                                            <h4>Founder</h4>
                                        </article> -->
        
        
                                    </div> <!--  end team-layout-1 -->
        
                                </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
        
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        
                                    <div class="team-layout-1">       
        
                                        <!-- <figure class="team-member">
                                            <a href="#" title="ALEXANDER GARY">
                                                <img src="images/team_6.jpg" alt="ALEXANDER GARY"/>
                                            </a>
        
                                        </figure> end. team-member  -->
        
                                        <!-- <article class="team-info">
                                            <h3>ALEXANDER GARY</h3>                                   
                                            <h4>Co-Founder</h4>
                                        </article> -->
        
        
                                    </div> <!--  end team-layout-1 -->
        
                                </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
        
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        
                                    <div class="team-layout-1">       
        
                                        <!-- <figure class="team-member">
                                            <a href="#" title="ALEXANDER GARY">
                                                <img src="images/team_7.jpg" alt="ALEXANDER GARY"/>
                                            </a>
        
                                        </figure> end. team-member  -->
        
                                        <!-- <article class="team-info">
                                            <h3>MELISSA MONUJ</h3>                                   
                                            <h4>Sr. Manager</h4>
                                        </article> -->
        
        
                                    </div> <!--  end team-layout-1 -->
        
                                </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->
        
                                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        
                                    <div class="team-layout-1">       
        
                                        <!-- <figure class="team-member">
                                            <a href="#" title="ALEXANDER GARY">
                                                <img src="images/team_9.jpg" alt="ALEXANDER GARY"/>
                                            </a>
        
                                        </figure> end. team-member  -->
        
                                        <!-- <article class="team-info">
                                            <h3>JHAMELA BILO</h3>                                   
                                            <h4>Manager</h4>
                                        </article> -->
        
        
                                    </div> <!--  end team-layout-1 -->
        
                                </div> <!--  end .col-lg-3 col-md-3 col-sm-6 col-xs-12 -->                   
        
                            </div>
        
                        </div> <!-- end .row  --> 
        
                    </div> <!-- end .container  -->
        
                </section> <!--  end .section-our-team -->


    <!-- START FOOTER  -->
    {% endblock %}