{% extends 'base/portal_base.html' %}
{% block title %}CodeUp Blood | Saving Live | Acoount | Donor Contact Details {% endblock %}

    {% load static %}
    {% block moreJs %}
    <script>
        // This sample uses the Places Autocomplete widget to:
        // 1. Help the user select a place
        // 2. Retrieve the address components associated with that place
        // 3. Populate the form fields with those address components.
        // This sample requires the Places library, Maps JavaScript API.
        // Include the libraries=places parameter when you first load the API.
        // For example: <script
        // src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
        let autocomplete;
        let address1Field;
        let address2Field;
        let postalField;
  
        function initAutocomplete() {
          address1Field = document.querySelector("#address");
          address2Field = document.querySelector("#address2");
          postalField = document.querySelector("#postcode");
          // Create the autocomplete object, restricting the search predictions to
          // addresses in the US and Canada.
          autocomplete = new google.maps.places.Autocomplete(address1Field, {
            componentRestrictions: { country: ["ng", "gh"] },
            fields: ["address_components", "geometry"],
            types: ["address"],
          });
        //   address1Field.focus();
          // When the user selects an address from the drop-down, populate the
          // address fields in the form.
          autocomplete.addListener("place_changed", fillInAddress);
        }
  
        function fillInAddress() {
          // Get the place details from the autocomplete object.
          const place = autocomplete.getPlace();
          let address1 = "";
          let postcode = "";
  
          // Get each component of the address from the place details,
          // and then fill-in the corresponding field on the form.
          // place.address_components are google.maps.GeocoderAddressComponent objects
          // which are documented at http://goo.gle/3l5i5Mr
          for (const component of place.address_components) {
            const componentType = component.types[0];
            console.log(component)
            switch (componentType) {
              case "street_number": {
                address1 = `${component.long_name} ${address1}`;
                break;
              }
  
              case "route": {
                address1 += component.short_name;
                break;
              }
  
              case "postal_code": {
                postcode = `${component.long_name}${postcode}`;
                break;
              }
  
              case "postal_code_suffix": {
                postcode = `${postcode}-${component.long_name}`;
                break;
              }
              case "neighborhood":
                document.querySelector("#locality").value = component.long_name;
                break;
  
              case "administrative_area_level_1": {
                document.querySelector("#state").value = component.long_name;
                break;
              }
              case "country":
                document.querySelector("#country").value = component.long_name;
                break;
            }
          }
          address1Field.value = address1;
          postalField.value = postcode;
          // After filling the form with address components from the Autocomplete
          // prediction, set cursor focus on the second address line to encourage
          // entry of subpremise information such as apartment, unit, or floor number.
        //   address2Field.focus();
        }
      </script>
      <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU-Zbb4BcWLWMzJ18ZGrwa_28rawS60DY&callback=initAutocomplete&libraries=places&v=weekly"
      async
    ></script>
    <script src="{% static 'accounts/js/phoneValidation.min.js' %}"></script>
    <script>
      $('#submit').on('click', function(){
        const Toast = Swal.mixin({
          toast: true,
          position: 'top-end',
          showConfirmButton: false,
          timer: 5000,
          timerProgressBar: true,
          didOpen: (toast) => {
            toast.addEventListener('mouseenter', Swal.stopTimer)
            toast.addEventListener('mouseleave', Swal.resumeTimer)
          }
        })

        Toast.fire({
          icon: 'success',
          title: 'Saving your details . . . '
        })
      })
    </script>
    {% endblock %}
    {% block body %}
                        <h3>VERY WELL, NOW LETS KNOW YOU BETTER</h3>
                        <p>Fill in your details</p>
                        {% if display %}
                        <div style=" background-color: #F66868;border-color: #EB0D0D;" class="alert alert-danger alert-dismissible fade show with-icon" role="alert">
                            {% for x in xLists %}{{x.error}}<br>{% endfor %}
                            {% if not display %}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                            {% endif %}
                        </div>
                        {% endif %}
                        <form autocomplete="off" method="POST">
                            {% csrf_token %}
                            <div id="error"></div>
                            <label style="padding-right: 215px;" for="chk1">Contact Details</label>
                            <input class="form-control" type="text" name="tele" id="tele" placeholder="Telephone" required>
                            <input class="form-control" type="text" name="address" id="address"  autocomplete="off" placeholder="Address" required>
                            <!-- <input class="form-control" type="text" name="address2" id="address2" autocomplete="off" placeholder="Apartment, unit, suite, or floor #" required> -->
                            <input class="form-control" type="text" name="locality" id="locality" autocomplete="off" placeholder="City" required>
                            <input class="form-control" type="text" name="state" id="state" autocomplete="off" placeholder="State" required>
                            <input class="form-control" type="text" name="country" id="country" autocomplete="off" placeholder="Country" required>
                            <label style="padding-right: 220px;" for="chk1">Personal Details</label>
                            <select required class="form-control p-b-14" name="gender">
                                <option disabled selected>--Gender--</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <select required class="form-control p-b-14" name="bloodtype">
                                <option disabled selected>--Blood Type--</option>
                                <option value="a-">A-</option>
                                <option value="a+">A+</option>
                                <option value="b-">B-</option>
                                <option value="b+">B+</option>
                                <option value="ab-">AB-</option>
                                <option value="ab+">AB+</option>
                                <option value="o-">O-</option>
                                <option value="o+">O+</option>
                            </select>
                            <div class="form-button">
                                <button id="submit" type="submit" class="ibtn">SAVE</button>
                            </div>
                        </form>
                        <!-- <div class="other-links">
                            <span>Or register with</span><a href="#">Facebook</a><a href="#">Google</a><a href="#">Linkedin</a>
                        </div> -->
                        {% endblock %}
