<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta content="CodeUp Blood | Volunteer Form">
    <meta content="COdeUp Blood">
    <meta content="CodeUp Blood  Volunteer Form">
    <!-- Title Page-->
    <title>CodeUp Blood | Volunteer Form</title>
    <!-- Icons font CSS-->
    <link href="{% static 'volunteer/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'volunteer/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Vendor CSS-->
    <link href="{% static 'volunteer/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'volunteer/vendor/datepicker/daterangepicker.css' %}" rel="stylesheet" media="all">
    <!-- Main CSS-->
    <link href="{% static 'volunteer/css/main.css' %}" rel="stylesheet" media="all">
</head>
<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Sign Up as a Volunteer</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row m-b-55">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">first name</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">last name</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="email" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="row row-refine">
                                    <div class="col-3">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">Area Code</label>
                                        </div>
                                    </div>
                                    <div class="col-9">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">Phone Number</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row m-b-55">
                            <div class="name">Location</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">City</label>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" required>
                                            <label class="label--desc">State</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Tell us about yourself</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea style="border: none" class="input--style-5 _8VWYiH" cols="50" rows="2" required></textarea>
                                    <label class="label--desc"><span class="QZhLxC">0</span>/50 words</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Where did you here about CodeUp Blood</div>
                            <div class="value">
                                <div class="input-group">
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select required>
                                            <option disabled="disabled" selected="selected">Choose option</option>
                                            <option>Friends</option>
                                            <option>Facebook</option>
                                            <option>Instagram</option>
                                            <option>Twitter</option>
                                            <option>Google</option>
                                            <option>Hospital</option>
                                            <option>BloodBank</option>
                                            <option>Email</option>
                                            <option>others</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">What do you know about CodeUp Blood</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea style="border: none;" class="input--style-5 _9IuNX4" id="" cols="50" rows="2" required></textarea>
                                    <label class="label--desc"><span class="tVL1Wb">0</span>/50 words</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Why do you want to Volunteer</div>
                            <div class="value">
                                <div class="input-group">
                                    <textarea style="border: none;" class="input--style-5 WK86B5 " id="" cols="50" rows="2" required></textarea>
                                    <label class="label--desc"><span class="FLnylM">0</span>/50 words</label>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn--radius-2 btn--red" type="submit">Volunteer</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="{% static 'volunteer/vendor/jquery/jquery.min.js' %}"></script>
    <!-- Vendor JS-->
    <script src="{% static 'volunteer/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static 'volunteer/vendor/datepicker/moment.min.js' %}"></script>
    <script src="{% static 'volunteer/vendor/datepicker/daterangepicker.js' %}"></script>

    <!-- Main JS-->
    <script src="{% static 'volunteer/js/global.js' %}"></script>
    <script>
        $('._8VWYiH').on('input', function(){
            var valueLen = $(this).val().split(' ').length;
            console.log(valueLen);
            if (!$(this).val().endsWith(' ')) {
                if(valueLen <= 50){
                    $('.QZhLxC').text(valueLen).removeAttr('style', 'disabled')
                } else {
                    $('.QZhLxC').text(valueLen).css('color','red')
                }
            }
        })
        $('._9IuNX4').on('input', function(){
            var valueLen = $(this).val().split(' ').length;
            console.log(valueLen);
            if (!$(this).val().endsWith(' ')) {
                if(valueLen <= 50){
                    $('.tVL1Wb  ').text(valueLen).removeAttr('style', 'disabled')
                } else {
                    $('.tVL1Wb  ').text(valueLen).css('color','red')
                }
            }
        })
        $('.WK86B5').on('input', function(){
            var valueLen = $(this).val().split(' ').length;
            console.log(valueLen);
            if (!$(this).val().endsWith(' ')) {
                if(valueLen <= 50){
                    $('.FLnylM').text(valueLen).removeAttr('style', 'disabled')
                } else {
                    $('.FLnylM').text(valueLen).css('color','red')
                }
            }
        })
    </script>

</body>

</html>
<!-- end document-->